.btn-cart{
  padding: 10px;
  background-color:crimson;
  color: white;
  border: none;
  font-size:18px;
  font-weight: bold;
  width:100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
 
}
.card-title{
  font-size:18px;
}
.card{
  width: 400px;
  height:450px;
}
.card img{
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
  padding: 20px;
  
}
